@import '../../scss/variables.scss';

.header {
    h1 {
        color: rgb(255, 255, 255);
        margin-top: 0.1em;
        margin-left: 0.5em;
        font-size: 4em;
        font-family: 'Cherry Swash', cursive;
    }
}

.tool-bar {
    text-align: center;
    margin-bottom: 1em;
    button {
        font-size: 1.5em;
        border: none;
        background: transparent;
        color: $button-color;
        border-bottom: 1px solid $button-color;
        transition: 0.2s ease-in-out;
        font-family:Arial, Helvetica, sans-serif;
    }
    button:hover {
        background-color: $button-color;
        color: white;
        position: relative;
        bottom: 1px;
    }
}

.header-navbar {
    position: absolute;
    top: 2.5em;
    right: 2.5em;
    button {
        background-color: rgba(255, 255, 255, 0.064);
        color: rgba(255, 255, 255, 0.648);
        border: none;
        padding: 1em;
    }
    button:hover {
        background-color: rgba(255, 255, 255, 0.038);
    }
}