<div class="register">
    <div class="register-form" *ngIf="inviteObject">
        <input (keyup)="emailField($event)" readonly value="{{inviteObject.data.invite.email}}" type="email" class="email" placeholder="email" required="true"><br>
        <input (keyup)="passwordField($event)" type="password" class="password" placeholder="password" required="true"><br>
        <button (click)="register()"><strong>Join</strong></button>
        <p class="flash-auth">{{flash}}</p>
    </div>
    <div class="register-text">
        <p>Your <strong style="color:rgb(170, 101, 12);">friend</strong> wants to</p>
        <p style="color:rgb(170, 101, 12)">Share a word</p>
        <p>with you.</p>
    </div>
</div>