@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cherry+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import '../scss/variables.scss';

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: $backgound-color;
}
.register, .login {
    height: 80vh
}
