@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Cherry+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import '../scss/variables.scss';

* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: $backgound-color;
}
.register, .login {
    height: 80vh
}

.footer {
    color: $footer-color;
    font-family: 'monospace';
    font-size: 0.9em;
    text-align: center;
    width: 100vw;
    
    a {
        color: $footer-color;
        text-decoration: none;
    }
    a:hover {
        color: rgb(110, 110, 165);
    }
    p {
        text-align: center;
    }
}

